#container {
    margin-top: 857px;
    margin-left: 310px;
    padding: 5px;
    width: 35px;
    height: 35px;
    clear: left;
}

#container2 {
    margin-left: 310px;
    padding: 5px;
    width: 35px;
    height: 35px;
    clear: left;
}

#container3 {
    margin-left: 310px;
    padding: 5px;
    width: 35px;
    height: 35px;
    clear: left;
}